.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.Board {
    margin-top: 20px;
}

.input_players {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.Delete {
    background-color: #dc3545;
}

.Delete:hover {
    background-color: #c82333;
}

.input_players {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Augmente l'espacement entre les lignes de joueurs */
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-bottom: 10px; /* Ajoute un espacement en bas des champs de texte */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-top: 10px; /* Ajoute un espacement au-dessus des boutons */
}

button:hover {
    background-color: #218838;
}